myfactory-databricks/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nome do Data Factory",
			"defaultValue": "myfactory-databricks"
		},
		"AzureDatabricks_conexao_accessToken": {
			"type": "secureString",
			"metadata": "Cadeia segura para \"accessToken\" de \"AzureDatabricks_conexao\""
		},
		"AzureDatabricks_conexao_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1104-185559-77m7t6z9"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline-anac')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Anac Silver",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/bgpambo1998@outlook.com/pipeline-anac-azureDbricks/Notebook - Produção/4. Anac - Camada Silver(Refaturado)"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_conexao",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Anac Gold",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Anac Silver",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/bgpambo1998@outlook.com/pipeline-anac-azureDbricks/Notebook - Produção/5. Anac - Camada Gold (Refaturado)"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks_conexao",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks_conexao')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks_conexao')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3112314905903617.17.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks_conexao_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricks_conexao_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/triggerAnnac')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline-anac",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-11-07T16:17:00",
						"timeZone": "E. South America Standard Time",
						"schedule": {}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline-anac')]"
			]
		}
	]
}